<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<cors enabled="true">
			<add origin="http://10.116.24.6:3000" allowCredentials="true">
				<allowHeaders allowAllRequestedHeaders="true" />
				<allowMethods>
					<add method="GET" />
					<add method="POST" />
					<add method="PUT" />
					<add method="DELETE" />
					<add method="OPTIONS" />	
				</allowMethods>
			</add>
		</cors>
		<!--<httpProtocol>
			<customHeaders>
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-Permitted-Cross-Domain-Policies" value="none" />
				<add name="Referrer-Policy" value="no-referrer" />
				<add name="Cross-Origin-Embedder-Policy" value="require-corp" />
				<add name="Cross-Origin-Opener-Policy" value="same-origin" />
				<add name="Cross-Origin-Resource-Policy" value="same-origin" />
				<add name="Cache-Control" value="no-store, max-age=O" />
				<add name="Pragma" value="no-cache" />
				<add name="Permissions-Policy" value="accelerometer=(),autoplay=(),camera=(), display-capture=(),document-domain=(),encrypted-media=(),fullscreen=(),geolocation=(),gyroscope=(),magnetometer=(),microphone=(),midi=(),payment=(),picture-in-picture=(),publickey-credentials-get=(),screen-wake-lock=(),sync-xhr=(self),usb=(),web-share=(),xr-spatial-tracking=()" />
			</customHeaders>
		</httpProtocol>-->
		<security>
			<authorization>
				<remove users="*" roles="" verbs="" />
				<add accessType="Allow" users="*" verbs="" />
				<add accessType="Allow" users="?" verbs="GET, POST, PUT, DELETE, OPTIONS" />
			</authorization>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" maxUrl="40960" maxQueryString="20480" />
			</requestFiltering>
		</security>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			<remove name="WebDAV" />
		</handlers>
		<aspNetCore processPath="bin\Debug\net6.0\ProjectAPI.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>

</configuration>